html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,0.95);
}


.main{
    background-color: #ffffff;
}


.bloco {
    padding-top: 103px;
    background-color: #12a2da;
    text-align: center;
    color: white;
    height: 100px;

    border-color:#12a2da ;
    border-width: 5px;
    /*border-radius: 4px;*/
    border-style: solid;
}

.textao .tip {
    margin-bottom: 10px;
    padding: 20px;
    border-style: solid;
    border-width: 4px; 
    border-radius: 20px; 
    border-color: #FFFFFF;
    border-style: outset;
}

.textao {
    font-size: 40px;
}

.im-neu{
    padding: -100px;
    height: 350px;
    width: 600px;
}

.top{
    margin-left: 45px;

}


.lateral-texto {
    padding: 20px;
    margin-top: 100px;
    margin-right: 100px;
    max-width: 400px;
    float: right;

}

.lateral-imagem {
    padding: 20px;
    margin: 20px;
    margin-right: 200px;
    max-width: 400px;
    float: right;
    background-color: white;

}

.lateral-esquerda {
    padding: 20px;
    margin: 20px 20px 20px 20px;
    max-width: 400px;
    float: left;
    max-width: 400px;
    background-color: white;
}

.span1{
    padding: 20px;
    margin: 20px;
    margin-left: 60px;
    margin-right: 500px;

}

.emm{
    margin-left: 18%;
    text-align: center;
    padding: 30px;
    max-width: 800px;
}

#header {
    width:100%;
    float:left;
    text-align:center;
    background-color:#12a2dA;;
    border-bottom: 2px #CCCCCC solid;
    position: fixed;
}

body {
    
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}


#logo{
    width:30%;
    float:left;
}
    
#logo l1
    {
        cursor:pointer;
        transition:1s;
        
    }
    #logo l1:hover{
        color:black;
    }
    
    #menu
    {
        float:left;
        width:70%;
    }
    #menu ul
    {
          margin-right: 10%;
          padding: 10px;
          float:right;
          text-align: center;
          border-left: 2px #CCCCCC solid;
    }
    #menu ul li
    {
    cursor:pointer;
    list-style-type:none;
    display:inline-block;
    padding:8px;
    }
    
    #menu ul li a
    {
    font-family:Helvetica, Arial, sans-serif;
    text-decoration:none;
    color:white;
    font-size:20px;
    }
    #menu ul li a:hover
    {
    color:black;
    }



    @media only screen and (max-width: 590px) {
        #header
        {
            font-size:14px;
        }
        #logo
        {
            width:100%;
            float:left;
            text-align:center;
        }
        #menu
        {
            width:100%;
            margin: 0 auto;
        }
        #menu ul
        {
            float:none;
            margin-right:0px;
        }
    }
    @media only screen and (max-width: 320px) {
        #header
        {
            font-size:12px;
        }
        #logo l1
        {
            margin-bottom:1%;
    
        }
          #menu ul li
        {
            display:block;
        }
     }
/*Fim do header*/



/*#############################footer ###########################*/

#foot {
    background-color:#041E42;
    opacity: 0.8;
    border-top: 2px #CCCCCC solid;
    height: 150px;
    margin-top: 100px;
    color: white;
    text-decoration:none;
}

#parteesquerda {
    float: left;
    width: 50%;

}

#partedireita {
    float: right;
    width: 50%;
}

#texto1foot {
    font-size: 30px;
    margin-left: 50px;
}

#texto2foot{
    color: white;
    font-size: 20px;
    width: 250px;
    text-align: center;
}

#texto3foot {
    text-align: center;
    font-size:25px;
    padding-left: auto;
    padding-right: auto;
    
}

#logosfoot{
    float: right;
    width: 325px;
    margin-right: 50px;
    margin-top: 1px;
}


.loguinho{
    max-width: 75px;
    margin-right: auto;
    margin-left: auto;
}

#copyright{
    text-align: center;
}

