html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,0.95);
}

.meio{
    max-width: 1250px;
    
}

p{
    line-height: 1.75;
}

a{
    text-decoration: none;
    color:  #12a2dA;
}

.vaga h2{
    margin-top: 15px;
}

.vaga img{
    max-width: 200px;
    padding-top: 20px;
}

.vaga img h2{
    align-items: center;
}

.vagas{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-right: 112.5px;
    padding-left:112.5px ;
}

.vaga{
    border-color:#12a2da ;
    border-width: 5px;
    border-radius: 4px;
    border-style: solid;
    width: 500px;
    height: 1200px;
    background-color:rgba(255, 255, 255, 0.493);
    text-align: center;
    margin:25px;
    padding-left: 20px;
    padding-right: 20px;
}

.vaga h3{
    text-align: left;
    margin-left: 5px;
}

.vaga p{
    text-align: center;
    max-width: 70%;
    margin-left: 65px;
}

.vaga li{
    text-align: left;
    margin-left: 65px;
    line-height: 1.75;
}

#detalhe{
    max-width: 90%;
    margin-left: 25px;
}

header {   
    margin:0 auto;
    height: 100px;
    background-color:rgba(255,255,255,0.95);
    border-bottom: 2px #CCCCCC solid;

    position: fixed; /* Set the navbar to fixed position */
    
    width: 100%; /* Full width */
    
}

#logo {

    margin:35px;
    width:20px;
    float:left;
    margin-right:20px;
    

}

#textosmenu {
    float:left;
    height:80px;
    margin:10px 150px 20px ;
    border-left: 2px #CCCCCC solid;
}

.OPMenu {
    float:right;
    margin:30px 30px 20px ;
    
    
}

#Texto1 {
    margin-left: 50px;
}

#seta {
    width:10px;
    height:10px;
}
