html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,0.95);
}

.meio{
    max-width: 1250px;
    
}

ul{
    list-style: none;
    text-align: left;
    margin-left: 15px;
    line-height: 1.5;
}

p{
    line-height: 1.75;
}

a{
    text-decoration: none;
    color:  #12a2dA;
}

.vaga h2{
    
}

.vaga button{
    height: 50px;
    border-radius: 10px;
    background-color: #12a2da;
    color:white;
    margin-top: 10px;
}

#primeira img{
    max-width: 200px;
    padding-top: 20px;
}

#segunda img{
    padding-top: 1px;
    max-width: 150px;
}

#terceira img{
    padding-top: 10px;
    max-width: 175px;
}

#quarta img{
    max-width: 150px;
}

.vaga img h2{
    align-items: center;
}

.vagas{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-right: 112.5px;
    padding-left:112.5px ;
}

.vaga{
    border-color:#12a2da ;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    width: 500px;
    height: 1600px;
    background-color:rgba(255, 255, 255, 0.493);
    text-align: center;
    margin:25px;
    padding-left: 20px;
    padding-right: 20px;
}

.vaga h3{
    text-align: left;
    margin-left: 5px;
}

.vaga p{
    text-align: center;
    max-width: 70%;
    margin-left: 55px;
}

.vaga li{
    text-align: left;
    margin-left: 65px;
    line-height: 1.75;
}

#detalhe{
    max-width: 90%;
    margin-left: 25px;
}

header {   
    margin:0 auto;
    height: 100px;
    background-color:rgba(255,255,255,0.95);
    border-bottom: 2px #CCCCCC solid;

    position: fixed; /* Set the navbar to fixed position */
    
    width: 100%; /* Full width */
    
}

#logo {

    margin:35px;
    width:20px;
    float:left;
    margin-right:20px;
    

}

#textosmenu {
    float:left;
    height:80px;
    margin:10px 150px 20px ;
    border-left: 2px #CCCCCC solid;
}

.OPMenu {
    float:right;
    margin:30px 30px 20px ;
    
    
}

#Texto1 {
    margin-left: 50px;
}

#seta {
    width:10px;
    height:10px;
}


/*            em baixo da header              */
.bloco {
    margin-top: 103px;
    background-color: #12a2da ;
    text-align: center;
    color: white;
    height: 80px;

    border-color:#12a2da ;
    border-width: 5px;
    /*border-radius: 4px;*/
    border-style: solid;
}

.textao {
    font-size: 40px;
}



/*                       footer                            */ 

#foot {
    background-color:#041E42;
    opacity: 0.8;
    border-top: 2px #CCCCCC solid;
    height: 150px;
    margin-top: 100px;
    color: white;
    text-decoration:none;
}

#parteesquerda {
    float: left;
    width: 50%;

}

#partedireita {
    float: right;
    width: 50%;
}

#texto1foot {
    font-size: 30px;
    margin-left: 50px;
}

#texto2foot{
    color: white;
    font-size: 20px;
    width: 250px;
    text-align: right;
}

#logosfoot{
    float: right;
    width: 250px;
    margin-right: 90px;
    margin-top: 1px;
}

#logosfoot img{
    background-color: white;
}
.loguinho{
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

#texto3foot {
    
    font-size:25px;
    padding-left: auto;
    padding-right: auto;
    
}

#Seguranca {
    color: #12a2da;
    font-size:15px;
    float: right;
    margin-right: 50px;

}
