html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,0.95);
}

.meio{
    max-width: 1250px;
}

ul{
    list-style: none;
    text-align: left;
    margin-left: 15px;
    line-height: 1.5;
}

p{
    line-height: 1.75;
}

a{
    text-decoration: none;
    color:  #12a2dA;
}

.vaga button{
    height: 50px;
    border-radius: 10px;
    background-color: #12a2da;
    color:white;
}

#primeira img{
    max-width: 200px;
    padding-top: 20px;
}

#segunda img{
    padding-top: 1px;
    max-width: 150px;
}

#terceira img{
    padding-top: 10px;
    max-width: 175px;
}

#quarta img{
    padding-top: 10px;
    max-width: 150px;
}

.vaga img h2{
    align-items: center;
}

.vagas{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-right: 25%;
    padding-left:25%;
}

.vaga{
    border-color:#12a2da ;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    width: 500px;
    height: 1600px;
    background-color:rgba(255, 255, 255, 0.493);
    text-align: center;
    margin:25px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.vaga h3{
    text-align: left;
    margin-left: 5px;
}

.vaga p{
    text-align: center;
    max-width: 70%;
    margin-left: 55px;
}

.vaga li{
    text-align: left;
    margin-left: 65px;
    line-height: 1.75;
}

#detalhe{
    max-width: 90%;
    margin-left: 25px;
}


/*        header            */

#header {
    width:100%;
    float:left;
    text-align:center;
    background-color:#12a2dA;;
    border-bottom: 2px #CCCCCC solid;
    position: fixed;
}
#logo{
    width:30%;
    float:left;
}
    
#logo l1
    {
        cursor:pointer;
        transition:1s;
        
    }
    #logo l1:hover
    {
        color:black;
    }
    
    #menu
    {
        float:left;
        width:70%;
    }
    #menu ul
    {
          margin-right: 10%;
          padding: 10px;
          float:right;
          text-align: center;
          border-left: 2px #CCCCCC solid;
    }
    #menu ul li
    {
    cursor:pointer;
    list-style-type:none;
    display:inline-block;
    padding:8px;
    }
    
    #menu ul li a
    {
    text-decoration:none;
    color:white;
    font-size:20px;
    }
    #menu ul li a:hover
    {
    color:black;
    }


/*            em baixo da header              */
.bloco {
    margin-top: 103px;
    background-color: #12a2da ;
    text-align: center;
    color: white;
    height: 80px;

    border-color:#12a2da ;
    border-width: 5px;
    /*border-radius: 4px;*/
    border-style: solid;
}

.textao {
    font-size: 40px;
}



/*                       footer                            */ 

#foot {
    width:100%;
    background-color:#041E42;
    opacity: 0.8;
    border-top: 2px #CCCCCC solid;
    height: 150px;
    margin-top: 100px;
    color: white;
    text-decoration:none;
}

#parteesquerda {
    float: left;
    
}

#partedireita {
    float: right;
    
}

#copyright{
    text-align: center;
}

#texto1foot{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 15px;
}

#texto2foot{
    color: white;
    font-size: 20px;
    width: 250px;
    text-align: center;
    padding-bottom: 10px;
}

#texto3foot {
    text-align: center;
    font-size:25px;
    padding-left: auto;
    padding-right: auto;
    
}

#logosfoot{
    float: right;
    width: 325px;
    margin-right: 50px;
    margin-top: 1px;
}


.loguinho{
    max-width: 75px;
    margin-right: auto;
    margin-left: auto;
}


#Seguranca {
    color: #12a2da;
    font-size:15px;
    float: right;
    margin-right: 50px;

}
